body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.header-text {
    font-size: large;
    font-weight: 800;
}

.header-links {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 26px;
    align-items: center;
    justify-content: flex-end;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #E5E7EB;
}

.block-1 {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 100px;
}

button {
    font-size: 18px;
    border-radius: 3px;
    background-color: #3882f6;
    color: white;
    width: 80px;
    height: 40px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

.start {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.block-2 {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    vertical-align: top;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.block-3 {
    background-color: #E5E7EB;
    padding: 20px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.author {
    font-size: 28px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50%;
}

.block-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer {
    background-color: #1F2937;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.space {
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 15px;
    border: #E5E7EB;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    margin: 50px;
}

